<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APLICACIÓN WEB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PRÁCTICA I</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Creación de App</strong>
    <p>Empezar mkñkklk<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=sHzWIJYqDUU">UI Components</a></p>
  </div>
</ion-content>
